.kBPluginMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    > li {
        box-sizing: border-box;
        padding: 10px 0 10px 0;
        flex: auto;
        text-align: center;
        font-weight: bold;
        border-width: 2px 2px 5px 2px;
        border-style: solid;
        border-color: black;
        border-radius: 10px 10px 0 0;
        cursor: pointer;

        &.active {
            color: white;
            background-color: #0003eb;
        }
    }
}

.kBPluginSettingsWithMenu {

    h2:not(:first-of-type) {
        display: none;
    }
    table:not(:first-of-type) {
        display: none;
    }
}