#kBPPopUpImgContainer {
    width: 100%;
    height: 300px;
}

#kBPPopUpImgMobile {
    max-height: 100%;
    max-width: 100%;
}

@media all and (min-width: 992px) {
    #kBPPopUpImgContainer {
        height: 100%;
    }
}