/*
===============================================================
    POP UP CONTAINER
===============================================================
*/
#kBPPopUp {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
    padding: 5%;
    left: 0;
    top: 0;
    font-size: 16px;
    background: linear-gradient(35deg,rgba(253,253,253,.03) 0%,rgba(253,253,253,.03) 53%,rgba(109,109,109,.03) 53%,rgba(109,109,109,.03) 59%,rgba(228,228,228,.03) 59%,rgba(228,228,228,.03) 66%,rgba(42,42,42,.03) 66%,rgba(42,42,42,.03) 100%),linear-gradient(205deg,rgba(62,62,62,.03) 0%,rgba(62,62,62,.03) 31%,rgba(200,200,200,.03) 31%,rgba(200,200,200,.03) 41%,rgba(30,30,30,.03) 41%,rgba(30,30,30,.03) 47%,rgba(151,151,151,.03) 47%,rgba(151,151,151,.03) 60%,rgba(95,95,95,.03) 60%,rgba(95,95,95,.03) 100%),linear-gradient(30deg,rgba(7,7,7,.03) 0%,rgba(7,7,7,.03) 19%,rgba(63,63,63,.03) 19%,rgba(63,63,63,.03) 33%,rgba(175,175,175,.03) 33%,rgba(175,175,175,.03) 37%,rgba(244,244,244,.03) 37%,rgba(244,244,244,.03) 60%,rgba(177,177,177,.03) 60%,rgba(177,177,177,.03) 100%),
        linear-gradient(90deg, #d2d2d2, #e1e1e1);

    * {
        color: #4b4b4b;
    }
}

.kBPPopUpShow {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

#kBPPopUp.kBPPopUpShow {
    display: flex;
    height: 100%;
    overflow-y: auto;
}


@media only screen and (min-width: 992px) {
    #kBPPopUp {
        flex-direction: row;
        font-size: 20px;
    }
}



/*
===============================================================
    POP UP SWITCHING MODE MOBILE-DESKTOP
===============================================================
*/
@media only screen and (max-width: 991px) {
    .kBPPopUpContentDesktop {
        display: none !important;
    }
}

@media only screen and (min-width: 992px) {
    .kBPPopUpContentMobile {
        display: none !important;
    }
}



/*
===============================================================
    POP UP CONTENT CONTAINER
===============================================================
*/
#kBPPopUpContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 36px 1% 0 1%;
}
@media only screen and (max-width: 991px) {
    #kBPPopUpImgContainerMobile ~ #kBPPopUpContent {
        height: 80%;
        padding: 0 1% 0 1%;
    }
}


@media only screen and (min-width: 992px) {
    #kBPPopUpContent {
        width: 60%;
        height: 100%;
        padding: 0 1% 0 1%;
    }
}

/*
===============================================================
    POP UP IMAGE
===============================================================
*/


@media only screen and (max-width: 992px) {
    #kBPPopUpImgContainerMobile {
        width: auto;
        height: 20%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #kBPPopUpImgMobile {
        width: auto;
        height: 100%;
    }
}

@media only screen and (min-width: 992px) {
    #kBPPopUpImgContainer {
        width: 40%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #kBPPopUpImg {
        width: 100%;
        height: auto;
        max-height: 100%;
    }
}

#kBPPopUpDescription {
    height: auto;
}


/*
===============================================================
    FORM
===============================================================
*/
@media only screen and (max-width: 991px) {
    #kBPPopUpFormMobile {
        display: flex;
    }
}

@media only screen and (min-width: 992px) {
    #kBPPopUpForm {
        display: flex;
    }
}

#kBPPopUpForm, #kBPPopUpFormMobile {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 100%;

    label {
        overflow: visible;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;

        a {
            color: black;
            font-weight: bold;
            width: auto;
        }

        &:not(.kBPCheckboxLabel) {
            flex-direction: column;
        }

        .kBPPopUpFormCheckboxInfo {
            width: 80%;
            box-sizing: border-box;
            padding-left: 5%;
            text-align: left;
            font-size: 12px;
            display: flex;
            align-items: center;
        }
    }

    input {
        box-sizing: border-box;
        padding: 15px 0 15px 0;
        background: linear-gradient(to bottom, #c3c3c3, white, #c3c3c3);
        box-shadow: 0 0 8px 0 gray;
        border: 2px inset #f0f0f0;
        font-weight: normal;
        margin: 4px 0 4px 0;
        &:not([type="checkbox"]) {
            display: block;
            width: 100%;
            font-size: 15px;
            &:focus {
                box-shadow: 0 0 20px 0 gray;
            }
        }

        &[type="checkbox"] {
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

        &[type=submit] {
            padding: 25px 0 25px 0;
            font-size: 25px;
            font-weight: bold;
            border: 2px outset #f0f0f0;

            &:active {
                border-style: inset;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    #kBPPopUpForm, #kBPPopUpFormMobile {
        width: 80%;
        input {
            transition: all 0.3s ease;

            &:hover {
                box-shadow: 0 0 20px 0 gray;
            }

            &[type=submit]:hover {
                letter-spacing: 2px;
            }
        }
        label {

            a {
                transition: all 0.3s ease;
                &:hover {
                    color: #555555;
                }
            }
        }
    }
}

/*
===============================================================
    POP UP CLOSE BUTTON
===============================================================
*/
$closeButtonWidth: 50px;
$closeButtonPartHeight: 10px;

#kBPPopUpCloseButtonContainer {
    position: absolute;
    right: 0;
    top: 0;
    width: $closeButtonWidth;
    height: $closeButtonWidth;

    #kBPPopUpCloseButton {
        width: $closeButtonWidth;
        height: $closeButtonWidth;
        display: block;
        position: relative;

        .kBPPopUpCloseButtonPart {
            height: $closeButtonPartHeight;
            width: $closeButtonWidth;
            background: #4b4b4b;
            box-sizing: border-box;
            border: 4px groove #4b4b4b;
            border-radius: 10px;
            position: absolute;
            top: ($closeButtonWidth - $closeButtonPartHeight) / 2;

            &:first-child {
                transform: rotateZ(45deg);
            }

            &:last-child {
                transform: rotateZ(-45deg);
            }

        }
    }
}



